<header class = "navbar navbar-fixed-top navbar-inverse">
	<div class = "container">
		<nav>
			<ul class = "nav nav-pills">
				<li class = "presentation"> <%= link_to "Home",   root_path %> </li>
				<li class = "presentation"> <%= link_to "About Us", about_path %> </li>
				<li class = "presentation"> <%= link_to "Contact Us", contact_path %> </li>
				<li class = "presentation"> <%= link_to "Help", help_path %> </li>
				<li class = "nav navbar-nav navbar-right presentation"> <%= link_to "Login", login_path %> </li>
			</ul>
		</nav>
	</div>
</header>