<h1> Edit User </h1>

<%= form_for @user do |f| %>	

	<!-- <%= @user.errors.full_messages.each do |msg| %>
		<li> <%= msg %> </li>
	<% end %> -->

	<%= f.hidden_field :user_id, :value => @user.id %>

	<div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>


 <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <%= f.select("role",["super_admin", "admin", "user"], {}) %>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>

<% end %>