<h1> <%= @user.first_name %> </h1>

<% if current_user.role.eql? 'user' %>
	<h4>Candidate for interview</h4>

	<table border="1" style="width:50%">
		<tr>
			<th> Candidate Name </th>
			<th> Date and Time </th>
			<th> Comments </th>
		</tr>

		<% @interview.each do |d| %>
		
			<tr>
				<td> <%= d.candidate.name %> </td>
				<td> <%= d.dateandtime %> </td>
				<% if d.comment.nil? %>
					<td> <%= link_to "Comment", comment_path(id: d.id) %> </td>
				<% else %>
					<td> <%= d.comment %> </td>
				<% end %>
			</tr>
		<% end %>
	</table>
<% end %> 