<h3>Upcoming Interviews</h3>

<table class="table table-striped table-hover ">
  <thead>
		<tr>
			<th> S.No. </th>
			<th> Candidate Name </th>
			<th> Profile </th>
			<th> Interview Date and Time </th>
			<th> Comment </th>
		</tr>
	</thead>

	<tbody>
    <% count = ((params[:page] || 1).to_i - 1) * 4
			@interview.each_with_index do |d, index| %>
			<% if d.comment.nil? %>
				<tr>
					<td> <%= count + index + 1 %> </td>
					<td> <%= d.candidate.name %> </td>
					<td> <%= link_to "Profile", candidate_path(id: d.candidate) %> </td>
					<td> <%= d.dateandtime %> </td>
					<td> <%= link_to "Comment", comment_path(id: d.id) %> </td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>

<%= link_to "Back", profile_path %>