<h1> <%= @candidate.name %> </h1>

<% if @upload.present? %>
	<%= image_tag @upload.avatar.url(:medium) %>
<% else %>
	<%= link_to "Upload Picture",  upload_image_path(candidate_id: @candidate.id) %>
<% end %>

<% if @upload_last.present? %>
	<%= link_to "Download Resume", download_path(candidate_id: @candidate.id) %>
<% else %>
	<%= link_to "Upload Resume",  upload_resume_path(candidate_id: @candidate.id) %>	
<% end %>
