<h1> <%= @candidate.name %> </h1>

<% if @upload.present? %>
	<%= image_tag @upload.avatar.url(:medium) %>
<% else %>
	<%= link_to "Upload Picture",  upload_image_path(candidate_id: @candidate.id) %>
<% end %>

<% if @upload_last.present? %>
	<%= link_to "Download Resume", download_path(candidate_id: @candidate.id) %>
<% else %>
	<%= link_to "Upload Resume",  upload_resume_path(candidate_id: @candidate.id) %>	
<% end %>

<% if @interview.any? %>
	<h4> Recruiter Assign </h4>

	<table class="table table-striped table-hover ">
		<thead>
		  <tr>
		    <th> S.No. </th>
		    <th> Recruiter Name </th>
				<th> Interview Date and Time </th>
		  </tr>
		</thead>

		<tbody>
		  <% count = ((params[:page] || 1).to_i - 1) * 4
		  @interview.each_with_index do |interview, index| %>
				<tr class="info">
					<td> <%= count + index + 1 %> </td>
					<td> <%= interview.user.first_name %> <%= interview.user.last_name %> </td>
				<td> <%= interview.dateandtime %> </td>	
				</tr>
			<% end %>  
			<%= will_paginate @interview %>
		</tbody>
	</table> 
<% end %>